* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

#sub-heading,
#down-arrow {
    display: none;
}

p,
a,
.project-button,
footer {
    font-size: 1.8rem;
}

p {
    line-height: 2.4rem;
}

h1, h2, h2 span {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

#main-heading,
.menu-button {
    font-size: 2.6rem;
}

header {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #2D3A66;
    box-shadow: 0 8px 6px -6px #2D3A66;
}

#main-heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #DFBD98;
    font-family: 'Pacifico', cursive;
}

.menu-button {
    width: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em 0.2em 0.5em;
    color: #DFBD98;
}

#nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 63px;
    width: 100%;
    background:#2D3A66;
}

#nav a {
    display: block;
    width: max-content;
    text-decoration: none;
    padding: 1rem;
    color:#ECF5F7;
    cursor: pointer;
}

#nav a:hover {
    color: #DFBD98;
}

#nav .fas {
    margin-right: 0.5rem;
}

#hero {
    height: 100vh;
    padding: 0px;
    background-image: url('assets/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

#hero h2 {
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 2.6rem;
    line-height: 3.4rem;
    color:#2D3A66;
}

#driven-emphasis {
    background-color: #DFBD98;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

#difference-emphasis {
    text-decoration: underline;
    text-decoration-color: #DFBD98;
}

.content-sections {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 1.5rem;
    background-color:#FFFFFF;
    color: #2D3A66;
}

.content-sections:nth-child(even) {
    background-color: #ECF5F7;   
}

.content-sections h2 {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.about-flex-container,
.skills-flex-container,
.projects-flex-container,
.contact-flex-container {
    display: flex;
    flex-direction: column;
}

.skills-flex-container,
.projects-flex-container {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #2D3A66;
}


.about-flex-container {
    align-items: center;
}

#about img {
    margin-top: 1.5rem;
    border-radius: 8px;
}

.text-emphasis,
#emphasis-and-link {
    font-weight: 400;
    color: #B59874;
}

#emphasis-and-link:hover {
    color:#2D3A66;
}

.skills-flex-container {
    padding: 2rem 1rem;
}

.skills-flex-spacing {
    margin-bottom: 2.5rem;
}

#skills h3 {
    text-align: center;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.skill-logo {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.img-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 8rem;
}

.img-container img {
    max-height: 8rem;
    max-width: 8rem;
}

.skill-logo figcaption {
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

.project-image img {
    width: 100%;
}

.project-name {
    font-weight: 400;
}

.project-description {
    margin-bottom: 1rem;
}

.project-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.tech-stack {
    display: flex;
    flex-wrap: row;
    align-self: center;
}

.tech-stack li {
    list-style: none;
    display: inline-block;
    font-size: 1.6rem;
    border: 0.1rem solid #2D3A66;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

.project-buttons {
    display: flex;
    justify-content: space-around;
}

.project-button {
    background: none;
    border: none;
    color: #ECF5F7;
    font-weight: 400;
    cursor: pointer;
    width: 12rem;
    height: 4rem;
    text-align: center;
    position: relative;
    margin: 1rem;
    z-index: 0;
}

.project-button::before,
.project-button::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
}

.project-button::before {
    background-color: #2D3A66;
    z-index: -1;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.project-button::after {
    background-color: #B59874;
    transform: translate(0.5rem, 0.5rem);
    z-index: -2;
}

.contact-flex-container {
    width: 100%;
    height: 100%;
}

#contact a {
    text-decoration-line: none;
    text-align: left;
    display: flex;
    align-items: center;
    width: max-content;
}

.contact-link {
    color: #2D3A66;
}

.contact-link:hover {
    text-decoration: underline;
}

.contact-spacing {
    margin-bottom: 1.5rem;
}

#contact .fab,
#contact .fas {
    margin-right: 0.5rem;
    font-size: 3.0rem;
    color: #B59874;
}

footer {
    height: 64px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2D3A66;
    color: #ECF5F7;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 375px) {
    #hero h2,
    .menu-button {
        font-size: 3.2rem;
    }

    #hero h2 {
        line-height: 4.4rem;
    }
}

@media screen and (max-height: 415px) {
    #hero h2 {
        top: 65px;
    }
}

@media screen and (min-width: 768px) {
    #main-heading,
    .menu-button {
        font-size: 3.2rem;
    }

    #hero h2,
    .content-sections h2 {
        font-size: 4.5rem;
    }

    #hero h2 {
        top: 85px;
        line-height: 6.0rem;
    }

    .content-sections h2,
    .container-width {
        width: 95%;
    }

    .img-container {
        height: 10rem;
        width: 10rem;
    }

    .img-container img {
        max-height: 10rem;
        max-width: 10rem;
    }

    .projects-flex-container {
        flex-direction: row;
    }

    .project-image {
        width: 50%;
    }

    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .menu-button,
    header label {
        display: none;
    }

    p {
        font-size: 2.0rem;
        line-height: 3.0rem;
    }

    main, footer {
        margin-left: 215px;
    }

    header {
        flex-direction: column;
        height: 100%;
        box-shadow: none;
        width: 215px;
        box-shadow: 2px 0 5px 0 #2D3A66;
    }

    #header-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        text-align: right;
        align-items: flex-end;
    }

    #main-heading {
        position: static;
        transform: translate(0%, 0%);
        font-size: 3.2rem;
        margin-right: 1.5rem;
    }

    #sub-heading {
        display: block;
        color: #ECF5F7;
        font-family: 'Oswald', sans-serif;
        font-size: 2.4rem;
        font-weight: 300;
        margin-top: 1rem;
        margin-right: 1.5rem;
    }

    #nav {
        position: static;
        align-items: flex-end;
    }

    #nav a {
        width: max-content;
        font-size: 2.0rem;
        padding: 1.5rem;
    }

    #hero h2 {
        top: 30px;
        font-size: 4.5rem;
        line-height: 6.0rem;
    }

    #down-arrow {
        display: inline-block;
        align-self: center;
        position: absolute;
        bottom: 15px;
        opacity: 0.6;
        animation: bounce 2s infinite;
    }

    #down-arrow img {
        display: inline-block;        
        height: 50px;
        width: 80px;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-30px);
        }
        60% {
          transform: translateY(-15px);
        }
      }

    .content-sections h2 {
        font-size: 4.5rem;
    }

    #about img {
        margin-top: 0;
        margin-left: 1.5rem;
    }

    .content-sections {
        padding: 5.0rem;
    }

    .content-sections h2,
    .container-width {
        width: 90%;
    }

    .about-flex-container {
        flex-direction: row;
    }

    #about-text {
        width: 100%;
    }

    .project-button {
        transition: 0.3s;
    }

    .project-button::before,
    .project-button::after {
        transition: 0.3s;
    }

    .project-button:hover {
        transform: translate(0.5rem, 0.5rem);
    }
    
    .project-button:hover::before {
        background-color: #B59874;
    }
    
    .project-button:hover::after {
        background-color: #2D3A66;
        transform: translate(-0.5rem, -0.5rem);
    }

    #contact a {
        font-size: 2.0rem;
    }

    #contact .fab,
    #contact .fas {
        font-size: 4.0rem;
        margin-right: 1rem;
    }

    footer {
        font-size: 2.0rem;
        background-color: #ECF5F7;
        color: #2D3A66;
    }
}

@media screen and (min-width: 1600px) {
    .content-sections h2,
    .container-width {
        width: 60%;
    }
}

/*
Color Scheme: 

Dark Khaki: B59874

Mountain Blue: 2D3A66

Sky Blue: ECF5F7

*/