* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 200px;
    height: 100%;
    background-color: #2D3A66;
}

#header-text {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #DFBD98;
}

#main-heading {
    font-size: 30px;
    margin-bottom: 5px;
}

#sub-heading {
    color: #B59874;
    font-size: 20px;
}

h1, h2 {
    font-family: 'Merriweather', serif;
    padding: 0;
}

h1 {
    margin: 0px 10px 10px 10px;
}

h2 {
    margin: 0;
}

h2 span {
    font-family: 'Merriweather', serif;   
}

#nav {
    height: 100%;
    background:#2D3A66;
    text-align: center;
}

#nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color:#B59874;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
}

#nav a:hover {
    color: #D2E6F3;
}

section {
    height: auto;
    padding: 15px;
    background-color:#4E70A0;
    color: #FFFFFF;
}

section h2 {
    text-align: center;
    font-size: 40px;
}

section:nth-child(even) {
    background-color: #5B4D58;
    color: #FFFFFF;
}

#hero {
    height: 100vh;
    padding: 0px;
    background-image: url('hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

#hero h2 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    position: relative;
    top: 50px;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color:#2D3A66;
    clear: right;
}

#driven {
    color: #2D3A66;
    background-color: #DFBD98;
    padding-left: 3px;
    padding-right: 3px;
}

#difference {
    text-decoration: underline;
    text-decoration-color: #DFBD98;
}

.about-flex-container {
    display: flex;
    align-items: center;
}

#about p {
    text-align: left;
    font-size: 20px;
    line-height: 25px;
}

#about img {
    margin-top: 15px;
    margin-left: 15px;
}

#skills h3 {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}

.skills-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-logo {
    border: 1px solid #D2E6F3;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255,255,255,.2)
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D3A66;
    color: #B59874;
}

footer p {
    width: auto;
    font-size: 20px;
}

header input,
header label,
#down-arrow,
.menu-button {
    display: none;
}

@media screen and (max-width: 600px) {
    header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: 0 8px 6px -6px black;
    }

    header label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: 63px;
    }

    #header-text {
        height: auto;
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    .menu-button {
        display: inline;
        color: #DFBD98;
        font-size: 35px;
    }

    #nav {
        position: absolute;
        top: 100%;
        width: 100%;
    }

    #menu-trigger:checked + label > .open-button {
        display: none;
    }
    
    #menu-trigger:checked ~ #nav {
        height: auto;
        transition: transform 0.3s ease-out; 
        transform-origin: top;
        transform:scaleY(1);
    }
    
    #menu-trigger:not(:checked) + label > .close-button {
        display: none;
    }
    
    #menu-trigger:not(:checked) ~ #nav {
        max-height: 0;
        overflow: hidden;
        transform:scaleY(0);
    }

    .about-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    #about-text {
        margin: 15px;
    }

    #about img {
        margin: 0;
    }
}

@media screen and (min-width: 601px) {
    #header-text { 
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h1, h2 {
        text-align: left;
    }

    header {
        width: 250px;
    }

    main, footer {
        margin-left: 250px;
    }

    #nav a {
        text-align: right;
        padding-right: 23px;
    }

    #down-arrow {
        display: inline-block;
        align-self: center;
        position: absolute;
        bottom: 15px;
        opacity: 0.6;
        animation: bounce 2s infinite;
    }

    #down-arrow img {
        display: inline-block;        
        height: 50px;
        width: 80px;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-30px);
        }
        60% {
          transform: translateY(-15px);
        }
      }
}

/*

Light Khaki: DFBD98

Dark Khaki: B59874

Slate Blue: 2D3A66

Slate Grey: 5B4D58

Ligher Blue: 4E70A0

Sky Blue: D2E6F3



*/